.card {
-webkit-box-shadow: 16px 13px 43px -14px rgba(0,0,0,0.68);
-moz-box-shadow: 16px 13px 43px -14px rgba(0,0,0,0.68);
box-shadow: 16px 13px 43px -14px rgba(0,0,0,0.68);
background: #3e3f3a;
margin: 5px;
padding: 10px;
text-align: center;
border-radius: 20px;
border-collapse: 20px;
color: #ddd;
	}


.card:hover {
	background: #353531;
	cursor: pointer;
}

.card:active {
	background: #181818;

}

.form-inline {

  // Kick in the inline
  @media (min-width: @screen-sm-min) {
    // Inline-block all the things for "inline"
    .form-group {
      display: inline-block;
      margin-bottom: 0;
      vertical-align: middle;
    }

    // In navbar-form, allow folks to *not* use `.form-group`
    .form-control {
      display: inline-block;
      width: auto; // Prevent labels from stacking above inputs in `.form-group`
      vertical-align: middle;
    }
    // Input groups need that 100% width though
    .input-group > .form-control {
      width: 100%;
    }

    [...]
  }
}