<div>
  <h1 class="text-center">Productos</h1>
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1">
      <label for="search">Buscar:</label>
      <input ng-model="busqueda" id="search" class="form-control" placeholder="Texto para filtrar">
    </div>
    <!-- Button trigger modal -->
    <div class="col-xs-7 text-right" >
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modalCrearProducto">
        Crear nuevo producto
      </button>
    </div>
  </div>
  <br>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Item</td>
          <td>Código</td>
          <td>Descripción</td>
          <td>Venta</td>
          <td>Costo</td>
          <td>Iva</td>
          <td>Stock</td>
          <td>Marca</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="producto in productos | filter:busqueda | itemsPerPage: pageSize" current-page="currentPage">
          <td>{{$index}}</td>
          <td>{{producto.codigo}}</td>
          <td>{{producto.detalle}}</td>
          <td>{{producto.precio_venta}}</td>
          <td>{{producto.precio_costo}}</td>
          <td>{{producto.iva}}</td>
          <td>{{producto.stock}}</td>
          <td>{{producto.marca}}</td>
          <td><button class="btn btn-warning btn-block btn-sm" ng-click="cargarInfoProductoAActualizar(producto)" data-toggle="modal" data-target="#modalActualizarProducto"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button> </td>
          <td><button class="btn btn-danger btn-block btn-sm"> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center">
    <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="lib/dirPagination.tpl.html"></dir-pagination-controls>

  </div>
</div>

<!-- Modal de nuevo producto -->
<div ng-include="'client/views/productos/CrearProducto.html'"></div>
<div ng-include="'client/views/productos/ActualizarProducto.html'"></div>
