<div class="container">
	
	<div class="row">
		<div class="col-xs-4">
		</table>
			<img ng-src="images/logo.png" class="img-responsive">
		</div>
		<div class="col-xs-8">
			<h2 align="center">Órden de Pedido Nro:{{}}</h2>
		</div>
	</div>

<hr>
	<div class="row">
		<div class="col-xs-6">
			<table class="table-condensed" style=" border: none;">
			<small>

			  <tr>
			    <td>CLIENTE: </td>
			    <td>{{pedidoCtrl.pedido.cliente.nombre}}</td>
			  </tr>

			  <tr>
			    <td>COMPRADOR: </td>
			    <td>{{pedidoCtrl.pedido.comprador}}</td>
			  </tr>

			  <tr>
			    <td>ORDEN DE COMPRA: </td>
			   	<td>{{pedidoCtrl.pedido.ordenCompra}}</td>
			  </tr>
			
			  <tr>
			    <td>TELÉFONO: </td>
			    <td>{{pedidoCtrl.pedido.cliente.telefono}}</td>
			  
			  </tr>
			  </small>
			</table>
		</div>
		

	</div>
		
			</div>
	
</div>




<!--

<div class="container">
	
	<div class="row">
		<div class="col-xs-4">
		</table>
			<img ng-src="images/logo.png" class="img-responsive">
		</div>
		<div class="col-xs-8">
			<h2 align="center">Órden de Pedido Nro:{{}}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<table class="">
			  <tr>
			    <td><small><strong>CLIENTE: </strong>{{pedidoCtrl.pedido.cliente.nombre}}</small></td>
			  </tr>
			  <tr>
			    <td><small><strong>COMPRADOR: </strong> {{pedidoCtrl.pedido.comprador}}</small></td>
			  </tr>
			  <tr>
			  <tr>
			    <td><small><strong>ORDEN DE COMPRA: </strong>{{pedidoCtrl.pedido.ordenCompra}}</small></td>
			  </tr>
			  <tr>
			  <tr>
			    <td><small><strong>TELÉFONO: </strong>{{pedidoCtrl.pedido.cliente.telefono}}</small></td>
			  </tr>
			  <tr>
			</table>
		</div>
		

	</div>
		
			</div>
	
</div>
 -->