<div class="container">
	
	<div class="row">
		<div class="col-xs-4">
	
			<img ng-src="images/logo.png" class="img-responsive">
		</div>
		<div class="col-xs-8">
			<h2 align="center">Órden de Pedido Nro:{{pedidoCtrl.pedido.nroPedido | numberFixedLen:3 }}</h2>
		</div>
	</div>

</br>
	<div class="row">
		<div class="col-xs-6">
			<table class="table-condensed" style=" border: none;">
			<small>

			  <tr>
			    <td><small><strong>CLIENTE: </strong>{{pedidoCtrl.pedido.cliente.nombre}}</small></td>
			  </tr>

			  <tr>
			    <td><small><strong>COMPRADO: </strong>{{pedidoCtrl.pedido.comprador}}</small></td>
			  </tr>

			  <tr>
			   	<td><small><strong>ORDEN DE COMPRA: </strong>  {{pedidoCtrl.pedido.ordenCompra}}</small></td>
			  </tr>
			
			  <tr>
			    <td><small><strong>TELÉFONO: </strong>{{pedidoCtrl.pedido.cliente.telefono}}</small></td>
			  </tr>
			  </small>
			</table>
		</div>

		<div class="col-xs-6">
			<table class="table-condensed" style=" border: none;">
			<small>

			  <tr>
			    <td><small><strong>VENDEDOR: </strong>{{pedidoCtrl.pedido.vendedor}}</small></td>
			  </tr>

			  <tr>
			   	<td><small><strong>FECHA DE SOLICITUD: </strong>  {{pedidoCtrl.pedido.fechaSolicitud | date:"MM/dd/yyyy"}} </small></td>
			  </tr>
			
			  <tr>
			    <td><small><strong>FECHA DE ENTREGA: </strong>{{pedidoCtrl.pedido.fechaEntrega | date:"MM/dd/yyyy"}}</small></td>
			  </tr>
			  </small>
			</table>
		</div>
	</div>
</br>
	<div class="row">
		<div class="col-xs-12">
			<table class="table table-condensed">
				<thead>
				<td><strong>Item</strong></td>
				<td><strong>Código</strong></td>
				<td><strong>Descripción</strong></td>
				<td><strong>Precio</strong></td>
				<td><strong>Iva</strong></td>
				<td><strong>Cantidad</strong></td>
				<td><strong>Total</strong></td>

				</thead>
				<tbody class="tbody" ng-repeat="item in pedidoCtrl.pedido.detalles track by $index">
					<td><small>{{$index+1}}</small></td>
					<td><small>{{item.codigo}}</small></td>
					<td><small>{{item.descripcion}}</small></td>
					<td><small>{{item.precio}}</small></td>
					<td><small>{{item.iva}}</small></td>
					<td><small>{{item.cantidad}}</small></td>
					<td><small>{{(item.precio*((item.iva+100)/100))*item.cantidad | currency:$COP}} </small></td>
				</tbody>
			</table>

		</div>
	</div>
</div>



<!--

<div class="container">
	
	<div class="row">
		<div class="col-xs-4">
		</table>
			<img ng-src="images/logo.png" class="img-responsive">
		</div>
		<div class="col-xs-8">
			<h2 align="center">Órden de Pedido Nro:{{}}</h2>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-6">
			<table class="">
			  <tr>
			    <td><small><strong>CLIENTE: </strong>{{pedidoCtrl.pedido.cliente.nombre}}</small></td>
			  </tr>
			  <tr>
			    <td><small><strong>COMPRADOR: </strong> {{pedidoCtrl.pedido.comprador}}</small></td>
			  </tr>
			  <tr>
			  <tr>
			    <td><small><strong>ORDEN DE COMPRA: </strong>{{pedidoCtrl.pedido.ordenCompra}}</small></td>
			  </tr>
			  <tr>
			  <tr>
			    <td><small><strong>TELÉFONO: </strong>{{pedidoCtrl.pedido.cliente.telefono}}</small></td>
			  </tr>
			  <tr>
			</table>
		</div>
		

	</div>
		
			</div>
	
</div>
 -->