<div>
<h1 class="text-center">Productos</h1>
<div class="row">
  <div class="col-xs-4">
    <label for="search">Buscar:</label>
    <input ng-model="busqueda" id="search" class="form-control" placeholder="Texto para filtrar">
  </div>
</div>
<br>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Item</td>
          <td>Código</td>
          <td>Descripción</td>
          <td>Venta</td>
          <td>Costo</td>
          <td>Iva</td>
          <td>Stock</td>
          <td>Marca</td>
          <td></td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr dir-paginate="producto in productos | filter:busqueda | itemsPerPage: pageSize" current-page="currentPage">
          <td>{{$index}}</td>
          <td>{{producto.codigo}}</td>
          <td>{{producto.detalle}}</td>
          <td>{{producto.precio_venta}}</td>
          <td>{{producto.precio_costo}}</td>
          <td>{{producto.iva}}</td>
          <td>{{producto.stock}}</td>
          <td>{{producto.marca}}</td>
        </tr>
      </tbody>
    </table>
  </div>
<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="lib/dirPagination.tpl.html"></dir-pagination-controls>
</div>
